{{# BLOG =============== #}}
{{ if segment_1 == "blog" }}
	<title>{{ if meta_title|not_empty }}{{ meta_title }}{{ else }}{{ title }}{{ endif }}</title>
{{ if meta_desc|not_empty }}
	<meta name="description" content="{{ meta_desc|striptags }}">
{{ endif }}
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{{ if meta_title|not_empty }}{{ meta_title }}{{ else }}{{ title }}{{ endif }}{{ if get:page > 0 }} Page {{ get:page }}{{ endif }}">
	<meta itemprop="description" content="{{ meta_desc|striptags }}">
	<meta itemprop="image" content="{{_site_url}}{{ main_img }}">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@XXX">
	<meta name="twitter:title" content="{{ meta_title }}">
	<meta name="twitter:description" content="{{ meta_desc|striptags }}">
	<meta name="twitter:creator" content="@XXX">
	<meta name="twitter:domain" content="{{ _site_url }}">
	<meta name="twitter:image:src" content="{{_site_url}}{{ main_img }}">

	<!-- Google Authorship and Publisher Markup -->
	<link rel="author" href="https://plus.google.com/XXXXXXXXXXXXXXXXXXXXX/posts"/>
	<link rel="publisher" href="https://plus.google.com/XXXXXXXXXXXXXXXXXXXXX"/>

	<!-- Open Graph data -->
	<meta property="og:title" content="{{ meta_title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ _site_url}}{{ page_url }}">
	<meta property="og:image" content="{{_site_url}}{{ main_img }}">
	<meta property="og:description" content="{{ meta_desc|striptags }}">
	<meta property="og:site_name" content="{{ _site_name }}" />
	<meta property="article:published_time" content='{{ date format="c"}}' />
	<meta property="article:modified_time" content='{{ last_modified format="c"}}' />
	<meta property="article:section" content="{{ categories_list }}" />
	<meta property="article:tag" content="{{ tags_list }}" />
	<!-- Facebook Insights -->
	<meta property="fb:admins" content="XXXXXXXXX" />
{{ endif }}